@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Retro Video Game Store</h1>
    <p>An E-Commerce site powered by ASP.NET Core MVC as part of the COMP2084 class lessons</p>
</div>
