/* Bootstrap variables */

:root {
    /* Main theme color */
    --bs-primary: #ff2a2a;
    /* Colour of headings */
    --bs-heading-color: #ff2a2a
}
/* Map link colour to main theme colour */
a {
    color: var(--bs-primary);
}
/* Map primary button colours to main theme colour */
.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-bg: #cd2121;
    --bs-btn-hover-border-color: #cd2121;
    --bs-btn-active-bg: #ff9595;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* Resize product image for thumbnails */
.img-thumb {
    width: 75px;
}